<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ufcg.p1_project">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".views.LaundryEditActivity"
            android:parentActivityName=".views.EditZoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.GardenEditActivity"
            android:parentActivityName=".views.EditZoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.KitchenEditActivity"
            android:parentActivityName=".views.EditZoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.LaundryPanelActivity"
            android:parentActivityName=".views.ZonesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.GardenPanelActivity"
            android:parentActivityName=".views.ZonesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.BathroomPanelActivity"
            android:parentActivityName=".views.ZonesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.BathroomEditActivity"
            android:parentActivityName=".views.EditZoneActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.EditZoneActivity"
            android:parentActivityName=".views.ZonesMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.KitchenPanelActivity"
            android:parentActivityName=".views.ZonesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ZonesMenuActivity"
            android:parentActivityName=".views.PlacesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.RegisterUserActivity"
            android:parentActivityName=".views.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.ZonesListActivity"
            android:parentActivityName=".views.ZonesMenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.PlacesListActivity"
            android:parentActivityName=".views.UserPlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.EditPlaceInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.RegisterPlaceActivity"
            android:parentActivityName=".views.UserPlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.UserPlaceActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.StatisticsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.LoginActivity"
            android:parentActivityName=".views.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".views.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>