<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ufcg.p1_project">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.UserDataActivity"/>
        <activity android:name=".views.UserPanelActivity" />
        <activity android:name=".views.AdminActivity" />
        <activity android:name=".views.UserPlaceActivity" />
        <activity android:name=".views.StatisticsActivity" />
        <activity android:name=".views.SpendingActivity" />
        <activity android:name=".views.ResidentsListActivity" />
        <activity android:name=".views.SavingActivity" />
        <activity android:name=".views.ResidentDataActivity" />
        <activity android:name=".views.LoginActivity" />
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>