<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ufcg.p1_project">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="Poupágua"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".views.LaundryPanelActivity"></activity>
        <activity
            android:name=".views.GardenPanelActivity"
            android:label="@string/title_activity_garden_panel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".views.BathroomPanelActivity" />
        <activity android:name=".views.BathroomEditActivity" />
        <activity android:name=".views.EditZoneActivity" />
        <activity android:name=".views.KitchenPanelActivity" />
        <activity android:name=".views.ZonesMenuActivity" />
        <activity android:name=".views.RegisterUserActivity" />
        <activity android:name=".views.ZonesListActivity" />
        <activity android:name=".views.PlacesListActivity" />
        <activity android:name=".views.EditPlaceInfoActivity" />
        <activity android:name=".views.RegisterPlaceActivity" />
        <activity android:name=".views.UserPlaceActivity" />
        <activity android:name=".views.StatisticsActivity" />
        <activity android:name=".views.LoginActivity" />
        <activity android:name=".views.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>